a {
color:#fff;
}
a:hover {
color:#C50E1F;
}
body {
background:#60676D;
color:#fff;
font-family:Tahoma, Arial, Helvetica;
font-size:1.25em;
margin-top:2.5em;
margin-bottom:2.5em;
margin-left:auto;
margin-right:auto;
}
form {
margin-top:1.5em;
margin-bottom:1.5em;
}
input {
margin-top:1em;
margin-left:1em;
margin-bottom:1em;
}
td {
border: 1px solid #fff;
padding: 0.5em;
}
.image {
text-align:center;
margin-top:2.5em;
margin-bottom:2.5em;
}
.title {
font-size: 1.5em;
text-align: center;
margin-top: 1.5em;
margin-bottom: 1.5em;
}
.content {
margin-top: 1em;
margin-bottom: 1em;
margin-left:auto;
margin-right:auto;
width:576px;
}
.two_columns {
border-collapse:collapse;
margin-top:1.5em;
margin-bottom:1.5em;
margin-left:auto;
margin-right:auto;
width:576px;
}
.console {
border-radius:2em;
color:#60676D;
background-color:#fff;
margin-top:1em;
margin-bottom:1em;
margin-left:auto;
margin-right:auto;
padding-left:1em;
padding-right:1em;
padding-top:1em;
padding-bottom:2em;
overflow:hidden;
width:800px;
}
.console:before {
content:'Console log:';
display:block;
padding-left:1em;
padding-bottom:1em;
}
.console:hover {
height:auto;
}
#pbar {
margin-left:auto;
margin-right:auto;
margin-top: 32px;
margin-bottom: 32px;
width:576px;
padding:2px;
background-color:#fff;
border:0px;
height:30px;
}
#pbar_indicator {
width:0px;
background-color:#B0B7BD;
height:30px;
}
#pbar_value {
position:relative;
bottom:30px;
color:black;
width:576px;
line-height:30px;
text-align:center;
}
