a {
color:#fff;
}
a:hover {
color:#C50E1F;
}
ul {
height: 100%;
float: left;
padding: 0;
}
li {
float: left;
list-style: none;
padding: 10px;
width: 170px;
font-size: 14px;
text-align: center;
}
body {
background:#60676D;
color:#fff;
font-family:Tahoma, Arial, Helvetica;
font-size:1.25em;
margin-top:1.5em;
margin-bottom:1.5em;
margin-left:auto;
margin-right:auto;
}
form {
margin-top:1.5em;
margin-bottom:1.5em;
}
input {
border: 0px;
background: #FFF;
background-image: none;
}
table {
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
width:576px;
margin-top:1.5em;
margin-bottom:1.5em;
}
table.two_columns td {
border: 1px solid #fff;
padding: 0.5em;
}
table.cards td {
font-size: 14px;
padding-left: 10px;
padding-right: 10px;
text-align: center;
width: 33.33%;
}
.card {
background: #fff;
position: relative;
padding: 10px;
box-shadow: 0px 3px rgba( 0, 0, 0, 0.1 );
color: #444;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

a.card:hover,input[type="submit"]:hover{
background: #DDD;
text-decoration: none;
}

a.card{
display:block;
text-decoration: none;
color:#000;
}
.action-container{
text-align: center;
width:100%;
margin: 1em;
}
.action-container input[type=submit]{
border: 1px solid transparent;
width:300px;
}
.action-container input[type=submit]:disabled{
border: 1px solid #444;
background:#60676D;
color: white;
}
.action-container input[type=file]{
width:480px;
}
.action-container label{
width:480px;
display: inline-block;
text-align: left;
font-size: 13px;
}
.image {
text-align:center;
margin-top:2.5em;
margin-bottom:2.5em;
}
.title {
font-size: 1.5em;
text-align: center;
margin-top: 1.5em;
margin-bottom: 1.5em;
}
.content {
margin-top: 1em;
margin-bottom: 1em;
margin-left:auto;
margin-right:auto;
width:576px;
}
.console {
color:#60676D;
margin-top:1em;
margin-bottom:1em;
margin-left:auto;
margin-right:auto;
padding-left:1em;
padding-right:1em;
padding-top:1em;
padding-bottom:2em;
overflow:hidden;
width:800px;
}
.console:before {
content:'Console log:';
display:block;
padding-left:1em;
padding-bottom:1em;
}
.console:hover {
height:auto;
}
.backup-options li a {
height:70px;
}
